.AllEventList ul li{
	list-style-type :  none;
}

table.EventTable td{
	border-top:  1px;
	border-left: none;
	border-right: none;
    height: 50px !important;
}
.HighlightedGreen a{
    background-color : Green !important;
    background-image :none !important;
    color: White !important;
    font-weight:bold !important;
    font-size: 12pt;
}

.HighlightedYellow a{
    background-color : #f7ba6f !important;
    background-image :none !important;
    color: White !important;
    font-weight:bold !important;
    font-size: 12pt;
}
.HighlightedRed a{
    background-color : #DF0101 !important;
    background-image :none !important;
    color: White !important;
    font-weight:bold !important;
    font-size: 12pt;
}
#calendardatepicker a.ui-state-active {
    background-color : blue !important;
    background-image :none !important;
    color: White !important;
    font-weight:bold !important;
    font-size: 12pt;
}
div.EventProductContainer div#calendardatepicker {
    float: left;
    width: 35%;
}
div.EventProductContainer {
    overflow: hidden;
    clear: both;
}
div.EventProductContainer div#EventView {
    padding-left: 10px;
    padding-top: 10px;
    width: 55% !important;
    float: left;
}

#calendardatepicker .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {border-radius: 0;}
#calendardatepicker .ui-datepicker {padding: 0;}
#calendardatepicker .ui-datepicker-calendar td a, .ui-datepicker-calendar td span {height: 35px}
#calendardatepicker .ui-datepicker-inline {width: 100%}
#calendardatepicker .ui-widget-content {border: none; background: none;}
#calendardatepicker .ui-widget-header {background: #004A86; color: #fff; background-image: none; border: none;}
#calendardatepicker {background: #FFF; color: #222;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {border: none; background: #ccc; color: #222; text-align: center; line-height: 2.3; font-weight: bold; font-size: 12pt;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {background: none; color: #FFF;}

#calendardatepicker .ui-datepicker-next,
#calendardatepicker .ui-datepicker-prev {
    font-family: 'IcoMoon-Ultimate';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    text-align: center;
    line-height: 32px;
    color: #fff;
    cursor: pointer;
}
#calendardatepicker .ui-datepicker-next:hover,
#calendardatepicker .ui-datepicker-prev:hover {
    text-decoration: none;
}
#calendardatepicker .ui-datepicker-next:before {
    content: "\edb8";
}
#calendardatepicker .ui-datepicker-prev:before {
    content: "\edc0";
}
#calendardatepicker .ui-datepicker-prev span,
#calendardatepicker .ui-datepicker-next span {
    display: none;
}

.event-loop {
    overflow: hidden;
    height: 57px;
    padding: 15px 0 0 20px;
    width: 100%;
}

.event-loop-available {
    background: url("../images/booking/img_booking_sched_bg_green.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-size: 100% 50px;
}
table.EventTable tr td.startdate {
    padding-left: 10px;
}

table.EventTable tr td.event_list_description {
    padding-left: 10px;
    height: fit-content !important;
}

.event-loop-unavailable {
    background: url("../images/booking/img_booking_sched_bg_red.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-size: 100% auto;
}

.event-loop .event-input , .event-loop .availability {
    float: left;
    width: 50px !important;
}

.event-loop .startdate ,.event-loop .pricecontainer {
    float: left;
    padding-right: 25px;
    white-space: nowrap;
}

.event-loop .spaceleft {
    float: left;
    width: 130px !important;
}

.EventTable .pricecontainer {
    text-align: right;
    padding-right: 10px;
}

.Scheduleradio, .Scheduleradio-checked, .ScheduleDissableradio,a.radio-fx {
    width: 25px;
    height: 25px;
}

.Scheduleradio {
    background: url(https://www.queenmary.org.uk/mysite/images/booking/non-clicked.png) no-repeat;
    float: left;
}

.Scheduleradio-checked {
    background: url(https://www.queenmary.org.uk/mysite/images/booking/clicked.png) no-repeat;
    float: left;
}

.ScheduleDissableradio {
    background: url(https://www.queenmary.org.uk/mysite/images/booking/dissable.png) no-repeat;
    float: left;
}
.EventTable input[type='checkbox'], .EventTable input[type='radio'] {
	position: absolute;
	top: -100px;
}
.EventTable input[type='checkbox'] + label.nonWaitingListLabel,
.EventTable input[type='radio'] + label.nonWaitingListLabel,
button.nonWaitingListLabel {
    display:inline-block;
    margin:2px;
    padding: 4px 12px;
    background-color: white;
    border-color: #000;
    cursor: pointer;
    border-radius : 10px;
    text-align: center;
    width: 120px;
}
button.nonWaitingListLabel {
    background-image: none;
    border: none;
    font-weight: normal;
    box-sizing: content-box;
    height: auto;
    line-height: normal;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
input[type=checkbox]:focus + label.nonWaitingListLabel,
button.nonWaitingListLabel:focus {
    background: #00aaff;
}
input[type=checkbox]:checked + label.nonWaitingListLabel,
input[type=radio]:checked + label.nonWaitingListLabel{
	margin:2px;
    padding: 4px 12px;
	background-color: #333;
	color: white;
    cursor: pointer;
    border-radius : 10px;
    text-align: center;
    width: 120px;
}
.EventTable input[type='checkbox'] + label.waitingListLabel,
.EventTable input[type=radio] + label.waitingListLabel {
    background-color: #0000ff;
    border-color: #000;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 2px;
    padding: 4px 12px;
    text-align: center;
    width: 120px;
}
input[type=checkbox]:checked + label.nonWaitingListLabel:after, input[type=radio]:checked + label.nonWaitingListLabel:after {content: "ed";}

table.EventTable td.selectEvent {
    text-align: right;
    padding-right: 10px;
	border: none;
	border-collapse: separate;
	overflow: hidden;
	position: relative;
}
.table.EventTable{
	border: none;
	border-collapse: separate;
}
.event-tr-available {
    background: #CCFFCC;
    background-size: 100% 50px;
	border-collapse:separate;
    border-spacing:0 5px;
}
.event-tr-unavailable {
    background: #FFD6D6;
    background-size: 100% 50px;
	border-collapse:separate;
    border-spacing:0 5px;
}
.waiting-list {
    background: #B2CCFF;
    background-size: 100% 50px;
	border-collapse:separate;
    border-spacing:0 5px;
}
#BookingPageFilters {
    text-align: center;
    margin: 12px 0;
}

td.startdate > span.start-date {
    padding-right: 10px;
}

@media screen and (max-width: 480px) {
    table.EventTable td {height: 25px !important; }
}